
/* Hex code for the ISSB red: #A41F35 */
/* Hex code for the colour opposite on the colour wheel to the ISSB red: #1FA48E */
/* See for further reference: https://www.canva.com/colors/color-wheel/ */

/* Base (Mobile) - optimised for iPhone 13 and 14 dimensions - W390-H844  */

.universal-navigation-bar {display: block;} 
.mobile-navigation-bar {display: block;} 
.mobile-bio-only {display: block;}
.tablet-nav-only, .tablet-bio-only, .tablet-footer-container {display: none;}
.desktop-nav-only, .desktop-nav-content-only, .desktop-bio-only, .desktop-skills-list-component, .desktop-portfolio-section-thumbnail-left, .desktop-portfolio-section-thumbnail-right, .desktop-footer-container {display: none;}

body {
  /* This means that the body is now a flex container. The child items within the body now become flex items. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  line-height: normal;
  font-family: Inter, Arial, sans-serif;
  text-align: center;
  color: #000;

  /* border: 2px dashed orchid; */
}

/* This div was created to set global CSS rules for the nav bar across mobile, tablet and desktop */
.universal-navigation-bar {
  background: rgba(60, 224, 175, 0.75);

  /* border: 2px dashed green; */
}

/* This class of nav element sets the CSS rules for the default mobile web version (mobile-first) */
.mobile-navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push children to the bottom */
  align-items: center;
  height: 90px;

  /* border: 2px dashed coral; */
}

/* The auto layout group container of the burton-works text */
.mobile-nav-burton-works-title-text-container {
  display: flex;
  width: 152px;
  height: 42px;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* border: 2px dashed blue; */
}
 
/* The burton-works text */
.mobile-nav-burton-works-title-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  margin: 15px 0;
  /* border: 2px dashed red; */
}

/* The auto layout group container for the hamburger menu */
.mobile-hamburger-menu-container {
  display: flex;
  width: 39.25px;
  padding: 10px 5px;
  position: absolute;
  top: 31px; 
  right: 15.75px;
  height: 39.5px;
  overflow-y: auto;

  /* border: 2px dashed black; */
}

.mobile-hamburger-menu-icon {
  width: 29.25px;
  height: 19.5px;
  flex-shrink: 0;

  /* border: 2px dashed firebrick; */
}

/* The functions within JS set which classnames are assigned to the corresponding element in the DOM */
/* Class name for the hamburger overlay menu element when in its default, hidden (or inactive) 'state': */
.mobile-nav-hamburger-menu-overlay-container {
  display: none;
}

/* Class name for the hamburger overlay menu element when it is in its 'is-active' 'state' */
.mobile-nav-hamburger-menu-overlay-container.is-active {
  display: flex;
  /* (292px / 390px) * 100 = 74.87vw */
  width: 74.87vw;
  /* (207.904px / 844px) * 100 = 24.63vh */
  height: 24.63vh;
  flex-direction: column;
  align-items: center;
  gap: 1.168px;
  border-radius: 14.016px;
  border: 1.168px solid #000;
  background: #FFF;
  box-shadow: 0px 4.672px 4.672px 0px rgba(0, 0, 0, 0.25);

  /* Positioning rule for the overlay: */
  position:fixed;
  /* Coordinates for where the overlay: */
  top: 90px;

  /* Z index (forward and backward) to ensure that the overlay is in front of all other content on screen when in the active state: */
  z-index: 1;

}

.mobile-nav-hamburger-menu-overlay {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 14.016px;
}

/* Mobile nav Menu button: */
.mobile-nav-menu-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0px 18.688px 0px 8.176px; */
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-nav-overlay-x-icon {
  padding: 0 8.18px;
}

.mobile-nav-menu-button-text {
  font-size: 20px;
}

.mobile-nav-chevron-down-icon {
  padding: 0 8.18px;
}

/* Mobile nav Skills button: */
.mobile-nav-skills-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-nav-skills-button-text {
  font-size: 20px;
}

/* Remove underline from links inside the Skills button */
.mobile-nav-skills-button a {
  text-decoration: none;
  color: inherit;
}

/* Mobile nav Portfolio button: */
.mobile-nav-portfolio-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    align-items: center;
    border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-nav-portfolio-button-text {
  font-size: 20px;
}

.mobile-nav-portfolio-button a {
  text-decoration: none;
  color: inherit;
}

/* Mobile nav Book a Call button: */
.mobile-nav-book-a-call-button {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(201, 32, 82, 0.75);
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-nav-book-a-call-button-text {
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
}
/* END of nav bar section */


/* CSS for the container for all hero content */
.hero-content-component {
  /* Transforms all child elements into flex items */
  background-color: #20C997BF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  padding: 25px 20px;
  flex-shrink: 0;
  
  /* border: 2px dashed firebrick; */
}

.profile-picture-circular-ffffff {
  display: flex;
  width: 210px;
  height: 210px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  
  /* border: 2px dashed coral; */
}

.mobile-greeting-heading {
  width: 100%;
  font-size: 38px;
  font-weight: 900;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
  
  /* border: 2px dashed black; */
}

.bio {
  align-self: stretch;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px; /* 135.714% */
  margin: 20px 0;
  
  /* border: 2px dashed firebrick; */
}

.proco-logo {
  width: 161.976px;
  height: 27.45px;
  flex-shrink: 0;
  
  /* border: 2px dashed blue; */
}


/* CSS for the container for all Skills list section break content */
.skills-list-section-break-with-text-component {
  background-color: #3CE0AFBF;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  
  /* border: 2px dashed blue; */
}

.skills-list-section-break-text {
  flex: 1 0 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px; /* 111.765% */
  
  /* border: 2px dashed firebrick; */
}


/* CSS for the container for all Skills list content */
.mobile-and-tablet-skills-list-component {
  background-color: #20C997BF;
  display: flex;
  flex-direction: column;
  /* padding: 35px 24px; */
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.skill-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 13px;
  flex-wrap: wrap;
  flex-shrink: 0;
  
  /* border: 2px dashed black; */
}

.skills-text {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.OpenAI-logo {
  width: 59.46px;
  height: 59.46px;
  aspect-ratio: 59.46/59.46px;
}


/* CSS for the container for all Portfolio list section break content */
.portfolio-list-section-break-with-text-component {
  background-color: #3CE0AFBF;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  
  /* border: 2px dashed blue; */
}

.portfolio-list-section-break-text {
  flex: 1 0 0;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px; /* 111.765% */
  
  /* border: 2px dashed firebrick; */
}


/* CSS for the container for all Portfolio content */
.project-card-component {
  background-color: #20C997BF;
  display: flex;
  flex-direction: column;
  padding: 35px 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.thumbnail {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0; /* Lower z-index to send it backwards */
  
  /* border: 2px dashed black; */
}

.project-title {
  width: 100%;
  position: relative;
  font-size: 34px;
  line-height: 38px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
}

.project-bio {
  width: 319px;
	position: relative;
	font-size: 28px;
	line-height: 38px;
	font-weight: 500;
	font-family: Inter;
	color: #000;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-primary-portfolio-section {
  border-radius: 8px;
  background-color: rgba(201, 32, 82, 0.75);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px 16px;
  font-size: 18px;
  color: #fff;
  
  /* border: 2px dashed black; */
}

.button-primary-text {
  position: relative;
  font-weight: 600;
  
  /* border: 2px dashed black; */
}
/* End of the portfolio content */


/* CSS for the footer section */
.mobile-footer-container {
  border: 1px solid #000;
  background: rgba(60, 224, 175, 0.75);
  display: flex;
  height: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

/* Footer contact CTA button */
.mobile-footer-button-container {
  border-radius: 8px;
  border: 1px solid #1E1E1E;
  background: rgba(201, 32, 82, 0.75);
  display: flex;
  height: 80px;
  padding: 10px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  
  /* border: 2px dashed blue; */
}

/* Matches spec */
.mobile-footer-button-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}

/* Rules for the dormant state of the footer overlay menu */
.mobile-footer-overlay-menu-container {
  display: none;
}

/* Rules for the active state of the footer overlay menu element when activated to 'is-active' by JS: */
.mobile-footer-overlay-menu-container.is-active {
  display: flex;
  /* (292px / 390px) * 100 = 74.87vw */
  width: 74.87vw;
  /* (314.19px / 844px) * 100 = 37.22vh */
  height: 37.22vh;
  flex-direction: column;
  align-items: center;
  gap: 1.168px;
  border-radius: 14.016px;
  border: 1.168px solid #000;
  background: #FFF;
  box-shadow: 0px 4.672px 4.672px 0px rgba(0, 0, 0, 0.25);

  /* Positioning rule for the overlay: */
  position:fixed;
  /* Coordinates for where the overlay is fixed in position (130px from the bottom of the viewport): */
  bottom: 130px;

  /* Z index (forward and backward) to ensure that the overlay is in front of all other content on screen when in the active state: */
  z-index: 1;
}

/* Rules for the footer overlay menu itself */
.mobile-footer-overlay-menu {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 14.016px;
}

/* Mobile footer Contact button: */
.mobile-footer-contact-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 0px 18.688px 0px 8.176px; */
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-footer-overlay-x-icon {
  padding: 0 8.18px;
}

.mobile-footer-contact-button-text {
  font-size: 20px;
}

/* Mobile footer LinkedIn button: */
.mobile-footer-linkedin-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-footer-linkedin-button a {
  text-decoration: none;
  color: inherit;
}

.mobile-footer-linkedin-button-text {
  font-size: 20px;
}

/* Mobile footer GitHub button: */
.mobile-footer-github-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}
.mobile-footer-github-button a {
  text-decoration: none;
  color: inherit;
}

.mobile-footer-github-button-text {
  font-size: 20px;
}

/* Mobile footer email button: */
.mobile-footer-email-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-footer-email-button a {
  text-decoration: none;
  color: inherit;
}

.mobile-footer-email-button-text {
  font-size: 20px;
}

/* Mobile footer phone number button: */
.mobile-footer-phone-number-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-footer-phone-number-button a {
  text-decoration: none;
  color: inherit;
}

.mobile-footer-phone-number-button-text {
  font-size: 20px;
}

/* Mobile footer book a call button: */
.mobile-footer-book-a-call-button {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(201, 32, 82, 0.75);
  height: 25%;
  align-items: center;
  border-bottom: 0.584px solid rgba(128, 128, 128, 0.55);
}

.mobile-footer-book-a-call-button a {
  text-decoration: none;
  color: inherit;
}

.mobile-footer-book-a-call-button-text {
  font-size: 20px;
  color: #FFF;
}






/* Media queries for tablet and desktop: */
/* Tablet - median dimensions */
/* TODO: Implement desktop-specific styles in this media query */
@media (min-width: 768px) and (max-width: 1023px) {

  .mobile-navigation-bar, .mobile-hamburger-menu-container, .mobile-bio-only, .mobile-footer-container {display: none;}
  .tablet-nav-only {display: flex;}
  .tablet-bio-only {display: block;}
  .desktop-skills-list-component, .desktop-footer-container {display: none;}

  /* Tablet NAV BAR CSS */
  .tablet-nav-only {
    /* width: 768px; */
    height: 90px;
    /* padding: 11px 0px; */
    justify-content: center;
    align-items: center;
    /* gap: 149.143px; */
  }

  .tablet-burton-works-title-text-container {
    display: flex;
    /* width: 238.857px; */
    height: 66px;
    max-width: 1571.429px;
    padding: 0px 157.143px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .tablet-burton-works-title-text {
    width: 238.857px;
    flex-shrink: 0;
    font-size: 31.429px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .tablet-hamburger-menu-container {
    display: flex;
    width: 54.25px;
    height: 54.596px;
    padding: 10px 5px;
    /* justify-content: space-between; */
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 54.25/54.60;
    position: absolute;
    top: 18px; 
    right: 30.75px;
    height: 39.5px;
    overflow-y: auto;
  }

  .tablet-hamburger-menu {
    flex: 1 0 0;
    align-self: stretch;
  }

  .tablet-nav-overlay-menu-container {
    display: none;
  }

  .tablet-nav-overlay-menu-container.is-active {
    background-color: #fff;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1px; */

    position: fixed;

    top: 250px;

    z-index: 1;
  }

  .tablet-nav-overlay-menu {
    display: flex;
    width: 100%;
    /* (105px / 1024px) * 100 = 10.25vh */
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  /* Tablet HERO CSS */

  .tablet-embedded-proco-logo {
    vertical-align: middle; 
    width: 5.5em; 
    height: 1em; 
    margin: 0 2px;
  }

    /* Tablet FOOTER CSS */

  .tablet-footer-container { 
    display: flex;
    padding: 25px 209px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border: 1px solid #000;
    background: rgba(60, 224, 175, 0.75);
  }

  .tablet-footer-button-container {
    display: flex;
    width: 350px;
    /* height: 120px; */
    padding: 16.204px 25.926px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12.963px;
    border: 1px solid #000;
    background: rgba(201, 32, 82, 0.75);
  }

  .tablet-footer-button-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 29.167px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .tablet-footer-overlay-menu-container {
    display: none;
  }

  .tablet-footer-overlay-menu-container.is-active {
    display: flex;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;

  }
} 

/* Desktop - */
/* TODO: Implement desktop-specific styles in this media query */
@media (min-width: 1024px) {
  
  /* All mobile-only elements needing the {display: none} property: */
  .mobile-navigation-bar, .mobile-bio-only, .mobile-and-tablet-skills-list-component, .project-card-component, .mobile-footer-container {display: none;}

  /* All tablet-only elements needing the {display: none} property: */

  
  /* All desktop-only elements needing the {display: block or flex} property: */
  .desktop-nav-only, .desktop-nav-content-only, .embedded-proco-logo {display: flex;}
  .desktop-bio-only {display: block;}
  .desktop-portfolio-section-thumbnail-left, .desktop-portfolio-section-thumbnail-right, .desktop-footer-container {display: flex;}
  
  /* Desktop nav bar CSS */
  .desktop-nav-only {
    /* width: 100vw; */
    /* position: relative; */
    height: 80px;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    color: #000;
    padding: 0 3.97vw;

    /* Settings to ensure that the Book a Call button doesn't exceed the width of the window */
    min-width: 0;
    max-width: 100%;
    overflow-x: auto;
  
    /* border: 2px dashed firebrick; */
  
  }
  
  .desktop-nav-content-only {
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px 3px 0px;
    gap: 42vw;
    position: relative;
    height: 42px;
    width: 100%;
  
    /* border: 2px dashed black; */
  
  }
  
  .desktop-burton-works-title-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    white-space: nowrap;
  
    /* border: 2px dashed red; */
  }
  
  .desktop-nav-links {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  
    /* border: 2px dashed blue; */
  
  }
  
  .desktop-skills-and-portfolio-links {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2.78vw;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
  
    /* border: 2px dashed orange; */
  
  }

  /* #skills-list-section-break {
    text-decoration: none;
  }

  #portfolio-list-section-break {
    text-decoration: none;
  } */
  a {
    text-decoration: none;
    color: #000;
  }
  
  .desktop-book-a-call-button {
    position: relative;
    border-radius: 8px;
    background-color: rgba(201, 32, 82, 0.75);
    border: 1px solid #000;
    box-sizing: border-box;
    width: auto;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    padding: 0px 24px;
    cursor: pointer;
    white-space: nowrap;
    height: 100%
  }
  
  .desktop-nav-button-text {
    position: relative;
    color: #FFF;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 600; 
    margin: 0; 
    white-space: nowrap;
    text-decoration: none;
  }

  /* END of desktop nav bar CSS */

  /* START desktop embedded proco-logo component */

  .desktop-embedded-proco-logo {
    vertical-align: middle; 
    width: 5.5em; 
    height: 1em; 
    margin: 0 4px;
  }

  /* END desktop embedded proco-logo component */


  /* START Desktop Skills list component */
  .desktop-skills-list-component {
    background: rgba(32, 201, 151, 0.75);
    display: flex;
    flex-wrap: wrap;
    /* width: 1342px;
    height: 154px; */
    padding: 0px 22px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
  }

  /* END desktop Skills list component */


  /* START desktop portfolio component section, thumbnail left */
  .desktop-portfolio-section-thumbnail-left {
    width: 100%;
    position: relative;
    background-color: rgba(32, 201, 151, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 24px;
    box-sizing: border-box;
    text-align: left;
    font-size: 25px;
  }

  .desktop-portfolio-section-thumbnail-left-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    max-width: 1000px;
  }

 .desktop-thumbnail-icon {
    flex: 1;
    position: relative;
    width: 33.68vw;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .desktop-portfolio-description-thumbnail-left {
    height: 100%;
    flex: 1;
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    text-align: left;
    font-size: 25px;
    text-align: left;
  }

  .desktop-portfolio-project-title-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    font-weight: 600;
  }

  .desktop-portfolio-project-bio-text {
  	width: 100%;
  	position: relative;
  	font-size: 20px;
  	line-height: 38px;
  	font-weight: 500;
  	display: inline-block;
  }

  .desktop-view-project-button {
    position: relative;
    border-radius: 8px;
    background-color: rgba(201, 32, 82, 0.75);
    border: 1px solid #000;
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px 16px;
    text-align: left;
    font-size: 18px;
    color: #fff;
  }

  .desktop-view-project-button-text {
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  /* END desktop portfolio component section, thumbnail left */

  /* START desktop portfolio component section break */
  .desktop-portfolio-section-break {
    width: 100%;
    position: relative;
    background-color: rgba(60, 224, 175, 0.75);
    /* border: 1px solid #000; */
    box-sizing: border-box;
    height: 82px;
  }
  /* END desktop portfolio component section break */

  /* START desktop portfolio component section, thumbnail right */

  .desktop-portfolio-section-thumbnail-right {
    width: 100%;
    position: relative;
    background-color: rgba(32, 201, 151, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 24px;
    box-sizing: border-box;
    text-align: right;
    font-size: 25px;
  }

  .desktop-portfolio-section-thumbnail-right-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    max-width: 1000px;
  }

  .desktop-portfolio-description-thumbnail-right {
    height: 100%;
    flex: 1;
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 16px;
    text-align: right;
    font-size: 25px;
  }

  /* END desktop portfolio component section, thumbnail right */


  /* START desktop footer section */
  .desktop-footer-container {
    background: rgba(60, 224, 175, 0.75);
    display: flex;
    height: 80px;
    padding: 0px 48px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    width: auto;
  }

  .desktop-footer-content {
    display: flex;
    width: 100%;
    height: 42px;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-footer-burton-works-logo {
    width: auto;
    height: 21px;
    flex-shrink: 0; 
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .desktop-footer-contact-information {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
  }

  .desktop-footer-email-address {
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;
    /* text-decoration: none; */
    color: #000;

  }

  .desktop-footer-phone-number {
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;
  }

  /* END desktop footer section */

}
/* TODO: when reviewing the code, ask CoPilot for advice on how I can iterate to adhere to DRY principles  */